@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', sans-serif;
    overflow-x:inherit;
    background-color: #f8f8f8;
}

.home-page-container{
    background: url('lib/images/background.webp') no-repeat center center/cover;
    padding-top: 0; 
    margin-top: -80px;
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    min-width: 400px;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #4A4A4A;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.tagline {
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #4A4A4A;
}

.description {
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
    color: #6D6D6D;
}

.construction-btn {
    background-color: #F4A7B9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1rem;
}

.construction-btn:hover {
    background-color: #ff5a5a; /* Couleur au survol */
}

.follow-us {
    margin-bottom: 10px;
    color: #6D6D6D;
    font-size: 1rem;
}

.follow-us-localisation{
    margin-bottom: 10px;
    color: #6D6D6D;
    font-size: 0.8rem;
    width : 70%;
    margin: auto;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 50px;
}

@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }

    body{
        background: url('lib/images/background.webp') no-repeat cover;
    }
    .container {
        width: 90%;
    }

    .button{
        display : flex;
        flex-direction : column;
    }

    h1 {
        font-size: 1.5rem;
    }

    .tagline, .description {
        font-size: 1rem;
    }

    .construction-btn {
        padding: 5px 10px;
        border: none;
        border-radius: 2.5px;
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 0.75rem;
    }

    .follow-us {
        font-size: 0.75rem;
    }

    .social-icons img {
        width: 30px;
    }
}
